<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking Spot Booking</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <link th:href="@{/css/homeStyle.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/spotbooking/style.css}">
</head>

<body th:class="@{hero-area}">
<div th:class="@{bg-box}">
    <img th:src="@{/images/slider-bg.jpg}" alt="Background Image" />
</div>
<header th:class="@{header_section}">

    <div th:class="@{container-fluid}">
        <!--        <h1 th:class="@{logo}">SMART PARKING SPOTS</h1>-->
        <nav th:class="@{navbar navbar-expand-lg custom_nav-container}">
            <a class="navbar-brand" href="/" th:href="@{/}">
            <span>
              Quick Park Assist
            </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul th:class="@{navbar-nav}">
                    <li th:class="@{nav-item}"><a th:href="@{/}" th:class="@{nav-link}">HOME</a></li>
                    <li class="nav-item"
                        th:classappend="${#request.requestURI == '/users'} ? 'active'">
                        <a class="nav-link"
                           th:href="@{/registration}">
                            <span sec:authorize="isAnonymous()">Registration</span>
                            <span sec:authorize="isAuthenticated()">Add Vehicle</span>

                        </a>
                    </li>
<!--                    <li th:class="@{nav-item}"><a th:href="@{/registration}" th:class="@{nav-link}">REGISTRATION</a></li>-->
                    <li class="nav-item" th:if="${user != null and user.role == 'SPOT_OWNER'}"
                        th:classappend="${#request.requestURI == '/spot-management'} ? 'active'">
                        <a class="nav-link" th:href="@{/spot-management}">Smart spots</a>
                    </li>
                    <li th:class="@{nav-item}"><a th:href="@{/booking}" th:class="@{active nav-link}">BOOKING</a></li>
                    <li th:class="@{nav-item}"><a th:href="@{/addon-service}" th:class="@{nav-link}">ADDON SERVICES</a></li>
                    <li th:class="@{nav-item}"><a th:href="@{/reservations}" th:class="@{nav-link}">EV CHARGING</a></li>
                </ul>
                <!-- Authentication Section -->
                <ul class="navbar-nav ml-auto">
                    <li th:if="${#authentication.authenticated}" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i> <span th:text="${#authentication.name}">User</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                        </div>
                    </li>
                    <li th:if="${!#authentication.authenticated}" class="nav-item">
                        <a class="nav-link" th:href="@{/login}"><i class="fa fa-sign-in"></i> Login</a>
                    </li>
                </ul>
                <form class="form-inline">
                    <button class="btn my-2 my-sm-0 nav_search-btn" type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </nav>
    </div>
</header>
<!-- End header section -->
<script>
    function updateProfile() {
      // Redirect to the profile update page
      window.location.href = '/updateProfile';
  }

  function confirmLogout() {
      // Show the logout confirmation modal
      $('#logoutConfirmationModal').modal('show');
  }

</script>
<main th:class="@{main}" style="margin-top: 100px;">
    <div th:class="@{grid-container}">
        <!-- Sidebar (Aside) -->
        <aside th:class="@{aside col-md-3 bg-dark p-5}">
            <h2>Book a Spot</h2>
            <ul th:class="@{nav flex-column}">
                <li th:class="@{nav-item}"><a th:href="@{/book}" th:class="@{nav-link text-light}">Book Now</a></li>
                <li th:class="@{nav-item}"><a th:href="@{/modify-Booking-Details}" th:class="@{nav-link text-light}">Modify Booking Details</a></li>
                <li th:class="@{nav-item}"><a th:href="@{/view-Booking-Details}" th:class="@{nav-link text-light}">View Booking</a></li>
                <li th:class="@{nav-item}"><a th:href="@{/viewBookingByNumber}" th:class="@{nav-link text-light}">View Bookings by Mobile Number</a></li>
                <li th:class="@{nav-item}"><a th:href="@{/viewBookingToCancel}" th:class="@{active nav-link text-light}">Cancel a Booking</a></li>
            </ul>
        </aside>
        <div th:class="@{content}">
            <div th:class="@{form-container}">
                <h2>Your Bookings</h2>
                <div th:if="${message}" th:class="@{alert alert-success}">
                    <p th:text="${message}"></p>
                </div>
                <table border="1">
                    <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Mobile Number</th>
                        <th>Parking Spot</th>
                        <th>Duration (Hours)</th>
                        <th>Start Time</th>
                        <th>Price</th>
                        <th>Payment Method</th>
                        <th>Status</th>
<!--                        <th>UserId</th>-->
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="booking : ${bookings}">
                        <tr>
                            <td th:text="${booking.fullName}"></td>
                            <td th:text="${booking.mobileNumber}"></td>
                            <td th:text="${booking.location}"></td>
                            <td th:text="${booking.duration}"></td>
                            <td th:text="${booking.startTime}"></td>
                            <td th:text="${booking.price}"></td>
                            <td th:text="${booking.paymentMethod}"></td>
                            <td th:text="${booking.status}"></td>
<!--                            <td th:text="${booking.userId}"></td>-->
                            <td>
                                <form th:action="@{/cancelBooking/{id}(id=${booking.id})}" method="post">
                                    <button type="submit" th:class="@{edit-cancel}">Cancel</button>
                                </form>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</main>

<script th:src="@{/js/script.js}"></script>
<script>
    function toggleForm(formId) {
// Hide all forms
const forms = document.querySelectorAll("form");
forms.forEach((form) => (form.style.display = "none"));

// Show the selected form
const selectedForm = document.getElementById(formId);
if (selectedForm) {
  selectedForm.style.display = "block";
}
}

</script>


<!-- jQery -->
<script src="js/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
</script>
<!-- nice select -->
<script src="js/jquery.nice-select.min.js"></script>
<!-- bootstrap js -->
<script src="js/bootstrap.js"></script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- custom js -->
<script src="js/custom.js"></script>
</body>
</html>
