<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Parking Spots - Addon Services</title>
    <script src="https://cdn.tailwindcss.com"></script>
<!--    <link-->
<!--      rel="stylesheet"-->
<!--      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"-->
<!--    />-->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <!-- Link to Tailwind CSS -->
    <link rel="stylesheet" th:href="@{/css/tailwind.min.css}">
    <link th:href="@{/css/homeStyle.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/spotbooking/style.css}">
<style>
  html, body, header {
  margin: 0;
  padding: 0;
}
</style>

  </head>
  <body>
    <!-- Background Image -->
    <div th:class="@{bg-box}">
      <img th:src="@{/images/slider-bg.jpg}" alt="Background Image" />
    </div>
    <header class="header_section mt-0 ">
      <div class="container mx-auto px-4">
        <nav class="flex items-center justify-between flex-wrap py-4">
<!--          <a class="text-2xl font-bold text-white ml-0" href="/" th:href="@{/}">-->
<!--            <span class="ml-0">Quick Park Assist</span>-->
<!--          </a>-->
          <a class="text-3xl font-bold text-white left-0 -ml-12" href="/" th:href="@{/}">
            <span>Quick Park Assist</span>
          </a>
          <button class="block lg:hidden focus:outline-none" type="button"
                  @click="open = !open">
            <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M4 5h16M4 12h16M4 19h16"/>
            </svg>
          </button>

          <div :class="{'block': open, 'hidden': !open}" class="w-full lg:flex lg:items-center lg:w-auto hidden">
            <ul class="lg:flex lg:space-x-7">
              <li>
                <a class="block py-2 text-white text-xl hover:text-blue-400" th:href="@{/}">Home</a>
              </li>
              <li>
                <a class="block py-2 text-white text-xl hover:text-blue-400"   th:href="${user != null && user.role == 'SPOT_OWNER'} ? '/users' : '/registration'">
                  <span th:if="${user == null}">Registration</span>
                  <span th:if="${user != null && user.role == 'SPOT_OWNER'}">View Profile</span>
                  <span th:if="${user != null && user.role != 'SPOT_OWNER' }">Add Vehicle</span>
                </a>
              </li>
              <li th:if="${user != null and user.role == 'SPOT_OWNER'}" th:classappend="${#request.requestURI == '/spot-management'} ? 'active'">
                <a class="block py-2 text-white text-xl hover:text-blue-400" th:href="@{/spot-management}">Smart spots</a>
              </li>
<!--              <li class="nav-item" th:if="${user != null and user.role == 'SPOT_OWNER'}"-->
<!--                  th:classappend="${#request.requestURI == '/spot-management'} ? 'active'">-->
<!--                <a class="nav-link" th:href="@{/spot-management}">Smart spots</a>-->
<!--              </li>-->
              <li th:if="${user.role != 'SPOT_OWNER'}">
                <a class="block py-2 text-white text-xl hover:text-blue-400" th:href="@{/booking}">Booking</a>
              </li>
              <li>
                <a class="block py-2 text-white text-xl hover:text-blue-400 active" th:href="@{/addAddonServices}">Addon Services</a>
              </li>
              <li th:if="${user.role != 'SPOT_OWNER'}">
                <a class="block py-2 text-white text-xl hover:text-blue-400" th:href="@{/reservations}">Ev charge</a>
              </li>
            </ul>

            <!-- Authentication Section -->
            <ul class="navbar-nav ml-auto">
              <li th:if="${#authentication.authenticated}" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-user"></i>
                  <!-- Styling added for the user email -->
                  <span th:text="${#authentication.name}" class="text-white text-xl ml-[20px]">User</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                </div>
              </li>
              <li th:if="${!#authentication.authenticated}" class="nav-item">
                <a class="nav-link" th:href="@{/login}"><i class="fa fa-sign-in"></i> Login</a>
              </li>
            </ul>

<!--            <form class="form-inline">-->
<!--              <button class="btn my-2 my-sm-0 nav_search-btn" type="submit">-->
<!--                <i class="fa fa-search" aria-hidden="true"></i>-->
<!--              </button>-->
<!--            </form>-->
          </div>
        </nav>
      </div>
    </header>
    <!-- End header section -->
    <script>
      function updateProfile() {
        // Redirect to the profile update page
        window.location.href = '/updateProfile';
    }

    function confirmLogout() {
        // Show the logout confirmation modal
        $('#logoutConfirmationModal').modal('show');
    }

    </script>
    <!-- Main Content -->
    <div class="container mx-auto flex flex-col lg:flex-row mt-8 px-6">
      <!-- Sidebar -->
      <aside class="lg:w-1/4 bg-gray-800 text-white p-6 rounded-lg shadow-lg self-start">
        <h2 class="text-2xl font-bold pb-2 mb-2 tracking-wide">Addon Services</h2>
        <ul class="space-y-3">
          <li th:if="${user.role == 'SPOT_OWNER'}">
            <a class="hover:text-orange-400 font-bold active" th:href="@{/addAddonServices}">Create new Addon Pack</a
            >
          </li>
          <li>
            <a
               th:href="@{/viewAllAddonServices}"
              class="hover:text-orange-400"
              >View all Addon Offers</a
            >
          </li>
          <li>
            <a th:href="@{/modifySelectedAddonServices}" class="hover:text-orange-400">Modify Addon Details</a>
          </li>
          <li>
            <a th:href="@{/removeAddonServices}" class="hover:text-orange-400">Remove an addon pack</a>
          </li>
        </ul>
      </aside>

      <!-- Main Content -->
      <div class="flex-1 p-8 -mt-8 mb-16"  th:if="${user.role == 'SPOT_OWNER'}">
        <form
          th:action="@{/saveAddonServices}"
          th:object="${addon}"
          method="post"
          class="bg-white p-6 rounded shadow-md"
        >
          <!-- Show confirmation message -->
          <div th:if="${message}" id="successMessage" th:class="@{alert alert-success}">
            <p th:text="${message}"></p>
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 mb-2">Addon Service Name</label>
            <input
              type="text"
              th:field="*{name}"
              class="w-full p-2 border border-gray-300 rounded"
              placeholder="Enter name"
            />
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 mb-2"
              >Addon Service Description</label
            >
            <input
              type="text"
              th:field="*{description}"
              class="w-full p-2 border border-gray-300 rounded"
              placeholder="Enter description"
            />
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 mb-2">Duration</label>
            <input
              type="number"
              th:field="*{duration}"
              class="w-full p-2 border border-gray-300 rounded"
              placeholder="Enter duration (in days)"
            />
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 mb-2">Price</label>
            <input type="hidden" th:field="*{isActive}" value="true" />
            <input
              type="number"
              th:field="*{price}"
              class="w-full p-2 border border-gray-300 rounded"
              placeholder="Enter price"
            />
          </div>
          <button
            type="submit"
            class="bg-blue-500 text-white px-4 py-2 rounded"
          >
            Save
          </button>
        </form>
      </div>
    </div>

    <!-- Footer -->
<!--    <footer-->
<!--      class="bg-gray-800 text-white text-center p-4 mt-16 fixed bottom-0 left-0 w-full z-10"-->
<!--    >-->
<!--      <p>-->
<!--        &copy; 2024 All Rights Reserved by-->
<!--        <a href="#" class="text-blue-400 hover:underline"-->
<!--          >Smart Parking Spots</a-->
<!--        >-->
<!--      </p>-->
<!--    </footer>-->
    <script>
      function toggleForm(formId) {
  // Hide all forms
  const forms = document.querySelectorAll("form");
  forms.forEach((form) => (form.style.display = "none"));

  // Show the selected form
  const selectedForm = document.getElementById(formId);
  if (selectedForm) {
    selectedForm.style.display = "block";
  }
  }

        // Hide the success message after 3 seconds (3000ms)
    setTimeout(function() {
        var successMsg = document.getElementById('successMessage');
        if (successMsg) {
            successMsg.style.display = 'none';
        }
    }, 3000); // Adjust the time as needed

    </script>
    <!-- jQery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
    </script>
    <!-- nice select -->
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- custom js -->
    <script src="js/custom.js"></script>


    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
  </body>
</html>
